{% extends 'blog/layout.html.twig' %}

{# you can read and display just one flash message type...
{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}#}

{% block content %}
{# ...or you can read and display every flash message available #}
    2
{% for flash_messages in myMessages %}
    {#{% for flash_message in flash_messages %}#}
        <div class="flash">
            1{{ flash_messages }}
        </div>
    {#{% endfor %}#}
{% endfor %}
    {{ parent() }}
{% endblock %}